<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.uuid %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Create Draft", draft_path, method: :post %></p>
<p><%= link_to "Logout", logout_path, method: :delete %></p>
